@use 'variables' as v; 

// Media Queries
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktopLG {
    @media (min-width: v.$desktop-lg) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: v.$desktop-xl) {
        @content;
    }
}

// Buttons
@mixin button($bg, $color-text) {
    cursor: pointer;
    background-color: $bg;
    padding: 1.8rem;
    border-radius: 1rem;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    color: $color-text;
    text-decoration: none;
    border: none;
    transition: background-color .3s;

    &:hover {
        background-image: linear-gradient(to right, #FF537A 0%, v.$color-primary 60%, v.$color-primary 100%);
        box-shadow: 0px 7px 25px 1px rgba(255,98,87,.72);
    }
}

// Grid
@mixin grid($columns, $gap ) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}