@use 'base/variables' as v;
@use 'base/mixins' as m;

.form {
    &__label {
        color: v.$color-secundary;
        font-weight: bold;
        font-size: 1.2rem;
    }

    &__input {
        border: 1px solid v.$grey;
        border-radius: 1rem;
        padding: 1.5rem 2.5rem;
        margin: 1rem 0;
        width: 100%;
        &:focus-visible {
            outline: .5px solid v.$color-secundary;
        }
    }

    &__btn {
        @include m.button(v.$color-secundary, v.$white);
        margin: 1rem 0;
    }
}